<h1>Repositories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Repo URI</th>
      <th>Docker URI</th>
      <th>Last build</th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= link_to repository.name, repository %></td>
        <td><%= repository.repo_uri %></td>
        <td><%= repository.docker_uri %></td>
        <td><%= repository.builds.where(status: 'complete').last.try(:created_at) || 'Never' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Repository', new_repository_path, class: 'btn btn-primary' %>
