<h1>repositories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Repo uri</th>
      <th>Docker uri</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repositories.each do |repository| %>
      <tr>
        <td><%= repository.name %></td>
        <td><%= repository.repo_uri %></td>
        <td><%= repository.docker_uri %></td>
        <td><%= link_to 'Show', repository %> |
        <%= link_to 'Edit', edit_repository_path(repository) %> |
        <%= link_to 'Delete', repository, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Repository', new_repository_path, class: 'btn btn-primary' %>
