<h1>New repository</h1>

<%= form_for(@repository) do |f| %>
  <%= render 'form', f:f %>

  <%= link_to 'Connect to GitHub', @github_auth_url unless @repos %>
  <% @repos.each do |repo| %>
    <%= repo.full_name %><br />
  <% end %>

  <div class="actions">
      <button class="btn btn-primary" type="submit">Save</button>
      <%= link_to 'Back', repositories_path, class: 'btn btn-default' %>
  </div>
<% end %>
