
<%% if @<%= singular_table_name %>.errors.any? %>
  <div id="error_explanation">
    <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prevented this <%= singular_table_name %> from being saved:</h2>

    <ul>
    <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
      <li><%%= msg %></li>
    <%% end %>
    </ul>
  </div>
<%% end %>

<% attributes.each do |attribute| -%>
  <% if attribute.password_digest? -%>
<div class="form-group">
  <%%= f.label :password %>
  <%%= f.password_field :password, class: 'form-control' %>
</div>
<div class="form-group">
  <%%= f.label :password_confirmation %>
  <%%= f.password_field :password_confirmation, class: 'form-control' %>
</div>
  <% else -%>
    <%- if attribute.reference? -%>
<div class="form-group">
  <%%= f.label :<%= attribute.column_name %> %>
  <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'form-control' %>
</div>
    <%- else -%>
<div class="form-group">
  <%%= f.label :<%= attribute.column_name %> %>
  <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control' %>
</div>
    <%- end -%>
  <% end -%>
<% end -%>
